.places__paragraph {
    margin: 0;
    font-size: 18px;
    line-height: 163%;
}

@media (max-width: 1023px) {
    .places__paragraph {
        margin: 0;
        gap: 25px;
        font-size: 16px;
    }
}