.content-grid {
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 92px;
    box-sizing: border-box;
    /* display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 92px;
}

@media (min-width: 1280px) {
    .content-grid {
        margin-top: 56px;
        max-width: 1184px;
    }
}

@media (max-width: 1279px) {
    .content-grid {
        max-width: 1024px;
    }
}

@media (max-width: 1023px) {
    .content-grid {
        margin-bottom: 88px;
        grid-template-columns: auto;
        gap: 88px;
        max-width: 768px;
    }
}

@media (max-width: 767px) {
    .content-grid {
        margin-bottom: 64px;
        grid-template-columns: 320px;
        gap: 64px;
        max-width: 320px;
    }
}