.places {
    display: grid;
    justify-content: center;
}

@media (min-width: 1280px) {
    .places {
        grid-template-columns: 984px;
        grid-template-rows: auto;
        row-gap: 80px;
    }
}

@media (max-width: 1279px) {
    .places {
        grid-template-columns: 928px;
        grid-template-rows: auto;
        row-gap: 80px;
    }
}

@media (max-width: 1023px) {
    .places {
        grid-template-columns: 720px;
        grid-template-rows: auto;
        row-gap: 73px;
    }
}

@media (max-width: 767px) {
    .places {
        grid-template-columns: 320px;
        grid-template-rows: auto;
        row-gap: 50px;
    }
}