@media (min-width: 1280px) {
    .lead__photo {
        width: 984px;
        height: 615px;
    }
}

@media (max-width: 1279px) {
    .lead__photo {
        height: 580px;
        width: 928px;
    }
}

@media (max-width: 1023px) {
    .lead__photo {
        width: 768px;
        height: 480px;
    }
}

@media (max-width: 767px) {
    .lead__photo {
        width: 320px;
        height: 200px;
    }
}