.header {
    margin: 28px auto 0;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 1280px) {
    .header {
        max-width: 1184px;
    }
}

@media (max-width: 1279px) {
    .header {
        max-width: 928px;
    }
}

@media (max-width: 1023px) {
    .header {
        max-width: 720px;
    }
}

@media (max-width: 767px) {
    .header {
        margin: 16px auto 0;
        max-width: 288px;
    }
}