.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

@media (max-width: 1023px) {
    .intro {
        margin: 0 auto;
   }
} 

@media (max-width: 767px) {
    .intro {
        margin: 0 auto;
        width: 288px;
    }
}