.cover {
    margin: 0 auto;
    background-image: url(../../images/__cover_background.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}

@media (min-width: 1280px) {
    .cover {
        max-width: 1184px;
        min-height: 740px;
    }
}

@media (max-width: 1279px) {
    .cover {
        max-width: 1024px;
        min-height: 640px;
    }
}

@media (max-width: 1023px) {
    .cover {
        max-width: 768px;
        min-height: 480px;
    }
}

@media (max-width: 767px) {
    .cover {
        max-width: 320px;
        min-height: 200px;
    }
}