.lead__caption {
    margin: 0;
    margin-top: 8px;
    min-width: 158px;
    height: 14px;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    position: relative;
}

@media (max-width: 1023px) {
    .lead__caption {
        padding-left: 24px;
    }
}

@media (max-width: 767px) {
    .lead__caption {
        padding-left: 18px;
    }
}