.cover__title {
    margin: 0;
    text-align: center;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    width: 560px;
}

@media (max-width: 767px) {
    .cover__title {
        font-size: 32px;
        line-height: 109%;
        width: 288px;
    }
}