.footer {
    margin: 0 auto 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (min-width: 1280px) {
    .footer {
        width: 1184px;
    }
}

@media (max-width: 1279px) {
    .footer {
        width: 928px;
    }
}

@media (max-width: 1023px) {
    .footer {
        width: 720px;
    }
}

@media (max-width: 767px) {
    .footer {
        padding-bottom: 22px;
        padding-left: 16px;
        width: 320px;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 48px;
    }
}